[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]

websockets = "*"
websocket-client = "*"
requests = "*"
websocket = "*"
BeautifulSoup4 = "*"


[requires]

python_version = "3.6"